body{
  background-color: rgb(226, 232, 181);
  font-family: "Ubuntu Sans";
}

.basicbutton {
  border-radius: 0px;
  box-shadow: black 5px 5px;
  transition: 0.3s;
  background-color: rgb(242, 225, 33);
  padding: 5px 10px;
  align-content: center;
}

.basicbutton:hover {
  box-shadow: none !important;
}

.basicsection {
  box-shadow: black 5px 5px;
  border: 4px solid black;
  transition: 0.5s;
  margin: 10px;
  padding: 20px 10px;
  align-content: center;
}

.basicsection:hover {
  background-color: rgb(212, 221, 146);
  box-shadow: none !important;
}
.basicinput {
   padding: 3px;
   margin: 3px;
   background-color: rgb(212, 221, 146);
   box-shadow: black 5px 5px;
   transition: 0.3s;
}
.basicinput:hover {
  box-shadow: none;
}

/* Navbar */

.basicnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  align-content: center;
}

.basicnav li {
  float: left;
}

.basicnav li a {
  display: block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.basicnav li a:hover {
  background-color: rgb(200, 210, 130);
}
footer {
  color: black;
  align-content: center;
  justify-content: center;
  width: 100%;
}
/* Table styling */
    .spreadsheet table {
      border-collapse: collapse;
      background: white;
      color: black;
      border-radius: 0;
      overflow: hidden;
      width: 100%;
      margin-bottom: 15px;
      border: 2px solid black;
    }
    
    .spreadsheet th {
      background: rgb(242, 225, 33);
      color: #000;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      border: 1px solid black;
    }
    
    .spreadsheet td {
      border: 1px solid black;
      padding: 0;
    }
    
    .spreadsheet input {
      width: 100%;
      border: none;
      text-align: center;
      background: transparent;
      color: black;
      padding: 8px;
      box-sizing: border-box;
      transition: all 0.3s ease;
    }
    
    .spreadsheet input:focus {
      outline: 2px solid rgb(242, 225, 33);
      background: rgba(242, 225, 33, 0.2);
    }
