/* --------------Start------------- */
:root {
  /* Variables */
    --color1: #FAF589;
    --color2: rgb(69, 63, 63);
}
body {
  background-color: rgb(47, 43, 43);
  color: white;
  margin: 5%;
  font-family: 'monospace'
}
/* overlay scanlines */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 1px; /* adjust the 4px to change line spacing */
  z-index: 9999;
  
  animation: flicker 0.5s infinite;
}
@keyframes flicker {
  0% { opacity: 0.95; }
  50% { opacity: 0.6; }
  100% { opacity: 0.95; }
}
.page {
  max-width: 800px;
  margin: 0 auto;      /* centers horizontally */
  padding: 20px;       /* optional */
}

/* Basic */
button, input, div, textarea, select {
  box-shadow: var(--color1) 7px 7px;
  background-color: var(--color1);
  transition: 0.3s;
  padding: 5px;
  right: 7px;
  margin-right: 10px;
  color: black;
  border: solid;
  border-width: 1px;
  margin: 6px;
}
button:hover, input:hover, div:hover,textarea:hover, select:hover {box-shadow: none;}
div{margin: 10px !important;}
div:hover {box-shadow: none;}

input{accent-color: var(--color1); box-shadow: var(--color1) 7px 7px;}
input[type="checkbox"], input[type="radio"],input[type="range"] {box-shadow: none;}

a{text-decoration: none;}
/* -------------ToolTip----------- */
.tip {
  position: relative;
  cursor: pointer;
  left: 3px;
}

.tip::after {
  content: attr(tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color1);
  color: black;
  padding: 4px 6px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, 0.3s;
  z-index: 1000;
  pointer-events: none;
  border: solid;

}
.tip:hover::after,.tip:hover::before {opacity: 1; visibility: visible; margin: 8px 0px 8px 0px;}
.tip.tip-bottom::after {top: 100%; bottom: auto;}
nav {
  position: sticky;
  top: 0;
  background: rgb(47,43,43);
  padding: 8px;
  z-index: 999;
}

